.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a2b3d;
  color: white;
  padding: 10px;
  margin-bottom: 50px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
}
